body {
  background: #071a44;
  color: white;
  font-family: "Inter", sans-serif;
}

.text-neon {
  color: #00ff86;
}

/* SEARCH */
.search-input {
  width: 300px;
  padding: 12px;
  border-radius: 12px;
  background: rgba(255,255,255,0.08);
  border: none;
  color: white;
}

/* PRODUCT CARDS */
.glass-card {
  background: rgba(255,255,255,0.06);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  border: 1px solid rgba(255,255,255,0.15);
}

.product-img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 12px;
}

.btn-neon {
  background: linear-gradient(90deg, #00ff86, #00ffa8);
  color: #00351c;
  font-weight: 700;
  border-radius: 10px;
}

/* PROFILE DROPDOWN */
.profile-btn {
  background: rgba(255,255,255,0.08);
  color: #00ff86;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.2);
}

.profile-btn:hover {
  background: rgba(0,255,134,0.25);
  color: white;
}
